<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euroleague</key>
	<array>
		<string>Eindhoven</string>
		<string>Lazio</string>
		<string>Lyon</string>
		<string>Saint Etien</string>
		<string>Atletic Bilbao</string>
		<string>Everton</string>
		<string>Manchester Utd</string>
		<string>Atalanta</string>
		<string>Twente</string>
	</array>
	<key>chl</key>
	<array>
		<string>Ajax</string>
		<string>Juventus</string>
		<string>Roma</string>
		<string>Monaco</string>
		<string>PSG</string>
		<string>Barcelona</string>
		<string>Real Madrid</string>
		<string>Chelsea</string>
		<string>Manchester City</string>
	</array>
	<key>saudi</key>
	<array>
		<string>Abha</string>
		<string>Al Nassr</string>
		<string>Al Taawon</string>
		<string>Damac</string>
	</array>
	<key>ned</key>
	<array>
		<string>Ajax</string>
		<string>Eindhoven</string>
		<string>Groningen</string>
		<string>Twente</string>
		<string>Utrecht</string>
	</array>
	<key>mls</key>
	<array>
		<string>Chicago</string>
		<string>Dallas</string>
		<string>LA Galaxy</string>
		<string>Orlando</string>
		<string>Toronto</string>
	</array>
	<key>ita</key>
	<array>
		<string>AC Milan</string>
		<string>Atalanta</string>
		<string>Juventus</string>
		<string>Lazio</string>
		<string>Roma</string>
	</array>
	<key>fra</key>
	<array>
		<string>Auxerre</string>
		<string>Lyon</string>
		<string>Monaco</string>
		<string>PSG</string>
		<string>Saint Etien</string>
	</array>
	<key>esp</key>
	<array>
		<string>Athletico Madrid</string>
		<string>Atletic Bilbao</string>
		<string>Barcelona</string>
		<string>La Coruna</string>
		<string>Real Madrid</string>
	</array>
	<key>eng</key>
	<array>
		<string>Chelsea</string>
		<string>Everton</string>
		<string>Leicester</string>
		<string>Liverpool</string>
		<string>Manchester City</string>
		<string>Manchester Utd</string>
		<string>Sunderland</string>
	</array>
</dict>
</plist>
