<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>PREMIER LEAGUE</string>
		<key>imageName</key>
		<string>england</string>
		<key>identifier</key>
		<string>eng</string>
		<key>Teams</key>
		<array>
			<string>Chelsea</string>
			<string>Everton</string>
		</array>
	</dict>
</array>
</plist>
